.container{
    
}

img{
    float: left;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
}

.avatar{
    width: fit-content;
    align-items: center;
    width: 100px;
    
}

.balance{
    float: right;
    width: 200px;
    display: flex;
    
}

.titulo{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.user{
    color: white;
    padding-right: 50px;
}

.slot{
    display: flex;
    font-size: 7rem;
    color: #138496;
    
    box-shadow:
  0 0px 2.9px rgba(0, 0, 0, 0.102),
  0 0px 7.3px rgba(0, 0, 0, 0.146),
  0 0px 14.9px rgba(0, 0, 0, 0.184),
  0 0px 30.7px rgba(0, 0, 0, 0.228),
  0 0px 84px rgba(0, 0, 0, 0.33)
;

}

.casilla{
    font-size: 10rem;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

button{
    width: 100px;
    padding-left: 20px;
    font-size: 20rem;
}